node_modules/*
config.yaml
config.yml
data
data/*
db
etc/jingo.service
config-prod.yaml
*gz
bundle*
public/js/multilang.min.js
public/js/app.min.js
public/css/style.css
public/vendor/fonts
public/vendor/simplemde
public/vendor/font-awesome
public/js/app.js
public/js/multilang.js
public/blog.rss
