.container{
  a:not(.fa):not([href^="https://user-images.githubusercontent.com"])[href^="http"]{
    background: url(../img/ext.png) center right no-repeat;
    padding-right: 13px;
  }
  a[href^="https://user-images.githubusercontent.com"]{
    cursor: zoom-in;
  }
}

#summary + ul, #sommaire + ul{
  background-color: #f0f0f0;
  border-radius: 3px;
  padding-top: 0.8em;
  padding-bottom: 0.6em;
}
