$navbar-bg: #222;
$lang-section-color: rgba(#123456, 0.5);

.editor-toolbar{
  opacity: 1 !important;
  .fa{
    outline: 0;
    color: $navbar-bg !important;
    &.active{
      background-color: $navbar-bg !important;
      color: white !important;
    }
  }
}

.CodeMirror .CodeMirror-code .cm-comment, .lang-section-header{
  // Highlighting comments
  color: white;
  background-color: $lang-section-color !important;
}
