# Documentation:
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://rocketeer.be/articles/deploying-node-js-with-systemd/
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sect-Managing_Services_with_systemd-Unit_Files.html

[Unit]
Description=jingo

[Service]
ExecStart=HOME_FOLDER/.nvm/versions/node/NODE_VERSION/bin/node PROJECT_ROOT/jingo -c config-prod.yaml
WorkingDirectory=PROJECT_ROOT/
Environment=PATH=HOME_FOLDER/.nvm/versions/node/NODE_VERSION/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production
User=USERNAME
Group=USERNAME
Restart=always
StandardOutput=journal

[Install]
WantedBy=multi-user.target
