mixin anchor(url, name)
  a(href="#{proxyPath}" + url)&attributes(attributes)= name
    block

mixin asset(url)
  -
    var link = proxyPath + cacheBust(url)
    var ext
    try {
      ext = link.split('?')[0].split('.').slice(-1)[0]
    } catch (err) {
      ext = ''
    }

  if ext === 'css'
    link(rel="stylesheet", href=link)
  else if ext === 'js'
    script(src=link)
